* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4e4e4;
}

#center {
    display: block;
    margin: auto;
    padding-top: 200px;
    max-height: 500px;
    max-width: 500px;
    font-size: 36px;
    text-align: center;
    color: #161616;
}

#links {
    padding-top: 20px;
    font-size: 24px;
    padding-bottom: 20px;
}

#links > a {
    text-decoration: none;
    color: #555555;
}

#links > a:hover {
    text-decoration: underline;
    color: #161616;
}

#update {
    padding-top: 30px;
    text-align: left;
}

#update > h6 {
    padding-top: 10px;
    font-size: 20px;
    text-align: left;
    color: #555555;
}

#update > p {
    padding-top: 8px;
    font-size: 18px;
    padding-bottom: 15px;
}

#update > p > a {
    text-decoration: none;
    color: #161616;
}

#update > p > a:hover {
    text-decoration: underline;
    color: #00843d;
}